{% extends "layout.html" %}
<!-- template inheritance -- with extend, block keyword: blocks are made portions that child templates (home, about) can override in parent template (layout) -->
{% block content %}
	<div class="content-section"> <!-- this is in main.css -->
		<form method="POST" action="">
			<!-- REMEMBER: when actually accessing variables in template, need to use double curlies-->
			{{ form.hidden_tag() }} <!-- csrf -->
			<!-- this is where we're actually accessing username, email, password, confirm_password variables from FORMS.PY code -->
			<fieldset class="form-group"> <!--this is all bootstrap stuff-->
				<legend class="border-bottom mb-4">Join Today</legend>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }} <!-- just the label -->
					{{ form.username(class="form-control from-control-lg") }} <!-- this is where we're actually usikng the variables-->
				</div>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }} <!-- just the label -->
					{{ form.email(class="form-control from-control-lg") }} <!-- this is where we're actually usikng the variables-->
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }} <!-- just the label -->
					{{ form.password(class="form-control from-control-lg") }} <!-- this is where we're actually usikng the variables-->
				</div>
				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label") }} <!-- just the label -->
					{{ form.confirm_password(class="form-control from-control-lg") }} <!-- this is where we're actually usikng the variables-->
				</div>				
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>	
		</form>
	</div>
	<div class="border-top pt-3">
		<small class ="text-muted">
			Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a> <!-- anchor tag -->
		</small>
	</div>
{% endblock content %}